<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

  <link rel="stylesheet" href="/css/createalbum/style.css">
</head>

<body>

  <div class="container-fluid">
    <div class="row bg-light align-items-center">
      <div class="col-md-6">
        <h2>SIB</h2>
        <!-- <a class="navbar-brand" href="#">SIB</a> -->
        <!-- <img src="https://via.placeholder.com/100" alt="" srcset="" height="50px" width="80px"> -->
      </div>
      <div class="col-md-2 offset-md-4">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="collapse" data-target="#collapseExample">Notifications<span
                class="badge badge-danger">4</span></a>
          </li>
          <li class="nav-item">
            <div class="round-circle" data-toggle="collapse" data-target="#collapseExample2">SY</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="collapse" id="collapseExample">
      <div class="col-md-3 offset-md-7">
        <div class="card card-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              All Computers wait at the same speed.
            </li>
            <hr>
            <li class="nav-item">
              A good programmer looks both ways before crosssing a one-way street.
            </li>
            <hr>
            <li class="nav-item">
              First Solve the problem then write the code.
            </li>

          </ul>
        </div>
      </div>

    </div>
    <div class="collapse" id="collapseExample2">
      <div class="col-md-3 offset-md-9">
        <div class="card card-body">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Sign Out</a>
            </li>

          </ul>
        </div>
      </div>

    </div>


    <div class="row" style="margin-top:5%">
      <div class="col-md-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" data-toggle="modal" data-target="#myModal1">Create Album</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter">Share Album</a>
          </li>


        </ul>
      </div>

      <div class="col-md-3">

        <div class="card" style="width: 16rem;">
          <img src=" https://via.placeholder.com/150">
          <div class="card-body">
            <h5 class="card-title">Album title</h5>
            <p class="card-text">Relive your beautiful momemts!</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Add Photos</li>
            <li class="list-group-item">Total Photos</li>
            <li class="list-group-item">Created on: Date</li>
          </ul>
          <div class="card-body">
            <a href="/albumPhotos" class="card-link">Open Album</a>
            <a href="#" class="card-link">Delete Album</a>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="card" style="width: 16rem;">
          <img src=" https://via.placeholder.com/150">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Relive your beautiful momemts!</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Add Photos</li>
            <li class="list-group-item">Total Photos</li>
            <li class="list-group-item">Created on: Date</li>
          </ul>
          <div class="card-body">
            <a href="/albumPhotos" class="card-link">Open Album</a>
            <a href="#" class="card-link">Delete Album</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">

        <div class="card" style="width: 16rem;">
          <img src=" https://via.placeholder.com/150">
          <div class="card-body">
            <h5 class="card-title">Album title</h5>
            <p class="card-text">Relive your beautiful momemts!</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Add Photos</li>
            <li class="list-group-item">Total Photos</li>
            <li class="list-group-item">Created on: Date</li>
          </ul>
          <div class="card-body">
            <a href="/albumPhotos" class="card-link">Open Album</a>
            <a href="#" class="card-link">Delete Album</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- hello i am the new file -->
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title">Create Your Album </h4>
        </div>
        <div class="modal-body">
          <p>Enter title for your Album</p>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Go to Album</button>
          <button type="submit" class="btn btn-primary btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>
            Cancel</button>
          <button type="button" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Share</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>Link</p>
          <a href="http://Google.com">http://Google.com</a>
          <span type="button" class="badge badge-pill badge-secondary">Copy Link</span><br>
          <hr>
          <p>Share To Public Anyone can view</p>
          <span type="button" class="badge badge-pill badge-secondary">Share Publicly</span><br>
          <hr>

          <input type="text" name="email&username" id="" placeholder="Enter Email Or Username">

        </div>
        <div class="modal-footer">

          {{!-- <button type="button" class="btn btn-primary">Done</button> --}}
          <a class="btn btn-primary" href="/shareAlbum" role="button">Share</a>
        </div>


      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    </div>
  </div>



  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
    </div>
  </div>
  <div class="flex-column">
  </div>





</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

</html>